name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.3"
      - uses: golangci/golangci-lint-action@v7
        with:
          version: v2.6.0
      - run: go build ./cmd/sc/
      - run: go test ./...
      - run: go vet ./...
